.nav{
    margin: 0 auto;
    background-color: white;
    margin-bottom: 10px;
    width: 850px;
    height: 50px;
}

.transparentDiv{
    width: 80%;
    height: 7px;
    background-color: transparent;
}

.linkNoLine:hover{
    text-decoration: none;
}

.imgNav{
    width: 22%;
    margin-top: 9px;
    align-items: center;
}

.themesBtn{
    margin: 0 auto;
    margin-left: 200px;
    padding: 11px;
}

.darkModeBtn {
  font-size: 12px;
  background-color: #222;
  border-radius: 3px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  border: 1px solid transparent;
}

.darkModeBtn:hover,
.darkModeBtn:focus {
  opacity: .75;
  border: 1px solid white;
}

@media(max-width: 560px){
    .transparentDiv{
        display: none;
    }
    .linkNoLine:hover{
        text-decoration: none;
    }
    
    .imgNav{ 
        width: 19%;
        margin-top: 10px;
        align-items: center;
    }
    
    .themesBtn{
        margin-left: -245px;
    }
    
    .darkModeBtn {
      font-size: 8px;
      background-color: #222;
      border-radius: 3px;
      border-style: none;
      color: #fff;
      cursor: pointer;
      font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
      border: 1px solid transparent;
    }
}

@media(max-width: 800px){
    .themesBtn{
        margin-left: -200px;
    }
}

@media(min-width: 1024px){
    .nav{
        width: 85%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        margin-bottom: 20px;
    }

    .linkNoLine:hover{
        text-decoration: none;
    }
    
    .imgNav{
        width: 22%;
        margin-top: 21px;
    }   
}